.carousel {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  ul {
    li {
      list-style: none;
    }
  }

  ul.slides {
    li {
      display: none;

      &.active {
        display: flex;
      }

      img {
        height: 400px;
        width: auto;
      }
    }
  }

  ul.bullets {
    display: flex;
    margin: 4px;

    li {
      display: inline-flex;
    }

    li.bullet {
      button {
        margin: 4px;
        border: none;
        font-size: 0;
        width: 18px;
        height: 18px;
        background-color: grey;
        border-radius: 50%;
      }

      &.active {
        button {
          background-color: blue;
        }
      }
    }
  }

  .controls {
    button {
      margin: 4px;
    }
  }
}
